HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
logs/error.2026-03-09.log
logs/error.2026-02-28.log
logs/info.2026-02-28.log
logs/info.2026-03-09.log
logs/info.log
logs/error.log
logs/info.2026-03-11.log
logs/info.2026-03-10.log
*.log
